<h1>Burgers</h1>

<h2>Menu</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
        {{> burgers/burgers-block devoured=0}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers you've eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burgers-block devoured=1}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Type:</label>
    <input type="text" id="bu" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
